*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-bottom: 70px;
}

.header__nav {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e7eb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav__item:first-child {
  margin-right: 20px;
}

.nav__link {
  color: #8b8c8f;
  text-decoration: none;
  line-height: 1.5;
  transition: all .3s ease;
}

.nav__link:hover {
  color: #262729;
  padding-bottom: 41px;
  border-bottom: 4px solid #ff7d1b;
}

.header__cart {
  display: flex;
  gap: 44px;
  align-items: center;
}

.cart__img {
  cursor: pointer;
}

.cart__avatar img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
}

.cart__avatar img:hover {
  border-color: #ff7d1b;
  border-radius: 50%;
}

.hero {
  margin-bottom: 50px;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.sneakers {
  max-width: 446px;
}

.sneakers__main-img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.sneakers__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 33px;
}

.sneakers__img {
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all .3s linear;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
}

.sneakers__img:hover {
  opacity: .75;
}

.sneakers__img.selected {
  border-color: #ff7d1b;
  border-radius: 10px;
  opacity: .5;
}

/* Modal */

.modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  transition: all 0.3s linear;
  opacity: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.close-btn {
  position: absolute;
  top: -12px;
  right: 385px;
  font-size: 3rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.close-svg:hover {
  fill: #ff7d1b;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 18rem;
  right: -1.5rem;
  transform: translateY(-50%);
  background: #fff;
  font-size: 2rem;
  color: #fff;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.arrow-btn:hover {
  stroke: #ff7d1b;
}

.prev-btn {
  left: -1.5rem;
}

.modal-content {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
}

.modal__main-img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 30px;
}

.modal__images {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 33px;
}

.modal__img {
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 16px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.modal__img:hover {
  opacity: .75;
}

.modal__img.selected {
  border-color: #ff7d1b;
  border-radius: 10px;
  opacity: .5;
}

/* right-side of hero */

.hero__content {
  width: 450px;
}

.subtitle {
  color: #ff7d1b;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.title {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.hero__text {
  color: rgb(139, 140, 143);
  font-size: 16px;
  line-height: 1.5;
  max-width: 450px;
  margin-bottom: 30px;
}

.price {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 15px;
  font-weight: 700;
  margin-bottom: 40px;
}

.price__discount {
  display: flex;
  align-content: center;
  gap: 22px;
  font-size: 30px;
}

.discount {
  color: #ff7d1b;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #ffefe2;
  border-radius: 5px;
}

.old-price {
  color: rgb(139, 140, 143);
  font-size: 16px;
  text-decoration: line-through;
}

.counter {
  width: 460px;
  display: flex;
  gap: 20px;
  line-height: 0;
}

.counter__box {
  padding: 10px;
  border: transparent;
  background-color: #f7f8fd;
  font-weight: 700;
  font-size: 32px;
  border-radius: 10px;
}

.btn,
.btn-add {
  color: #ff7d1b;
  border: transparent;
  background-color: transparent;
}


#value {
  display: inline-block;
  font-size: 16px;
  padding: 10px 30px;
  border: transparent;
  background-color: #f7f8fd;
}

.decrease:hover {
  color: #ffac6a;
}

.increase:hover {
  color: #ffac6a;
}

.add {
  padding: 20px 94px;
  color: #fff;
  font-weight: 700;
  background-color: #ff7d1b;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
}

.add::before {
  content: '';
  width: 22px;
  height: 20px;
  background-image: url(../images/icon-cart.svg);
  position: absolute;
  top: 20px;
  left: 65px;
}

.add:hover {
  background-color: #ffac6a;
}